<ion-header>

    <ion-navbar color="danger">
        <ion-title>
            <ion-icon name="microphone"></ion-icon> Audio Recorder
            <span class="duration-right">duration: {{ duration }} </span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-item detail-push no-lines *ngFor="let audio of audioItems | async ; index as i;">

            <ion-avatar item-start>
                <img src="https://i.ytimg.com/vi/fUWrhetZh9M/maxresdefault.jpg">
            </ion-avatar>
            <ion-range min="100" max="200" color="danger">
                <ion-label range-left>-200</ion-label>
                <ion-label range-right>200</ion-label>
            </ion-range>
            <button ion-button clear item-end (click)="playAudio(audio)">
        <ion-icon name="play"></ion-icon>
      </button>
        </ion-item>
    </ion-list>
    <img [src]="imageBlob" *ngIf="imageBlob">

    <video width="320" height="240" controls *ngIf="videoBlob">
    <source [src]="videoBlob" [type]="videoType">
  </video>

    <ion-item class="bottom">
        <ion-input type="text" placeholder="write some thing...">
        </ion-input>
        <button ion-button icon-only clear item-right (click)="openImagePiker()">
      <ion-icon name="image"></ion-icon>
    </button>
        <button ion-button icon-only clear item-right (click)="startRecord()" *ngIf="!recording">
      <ion-icon name="mic"></ion-icon>
    </button>
        <button ion-button icon-only clear item-right (click)="stopRecord()" *ngIf="recording" class="stop">
      <ion-icon name="mic-off"></ion-icon>
    </button>
    </ion-item>

</ion-content>